---
layout: default
---
<div class="container my-20">
    <div class="row md:justify-around items-start">

        <div class="md:col-6 lg:col-4">

            <h1 class="text-purple-900 text-2xl lg:text-5xl font-bold mb-2 md:mb-5 mt-10">A few words about us
      </h1>
            <p class="mt-4 text-sm text-medium">Youth Empowerment Platform (YEP) is a youth-orientated non-governmental organization,
        located in Gostivar.
        <br><br>
        It was founded on April 24, 2015 by a group of enthusiastic young people who believe in amplifying
        the voices of young people and serving their communities.
        <br><br>
        YEP strives to support Gostivar’s youth by fostering their leadership skills, encouraging their
        civic engagement, providing technical skills, and ensuring all members have a space to full their
        potential in becoming their most authentic, best version of themselves.</p>
        </div>
        <div class="order-first mb-10 col-12 md:order-none md:col-6 lg:col-7">
            <img class="mt-10 w-screen " src="/assets/img/photo.jpg" alt="">
        </div>
    </div>
</div>

<div class="container my-20">

    <div class="row justify-around">
        <div class="col-12 md:col-5">
            <h1 class="text-2xl font-bold text-purple-700 lg:text-5xl">Long Term Goal</h1>
            <p class="my-2 md:my-6 font-medium">Our long-term goals mainly include:</p>
            <div class="flex">
                <svg class="w-20 md:w-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor">
                    <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"/>
                </svg>
                <p class="ml-5 text-gray-500">Inspiring young people to take an active role in their futures,
                            and teaching them that their voices are strong and vital to the decision-making process; and
                        </p>
            </div>
            <br>
            <div style="width: 164px; height: 1px;" class="bg-yellow-500 ml-8"></div>

            <div class="flex mt-5">
                <svg class="w-20 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor">
                    <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"/>
                </svg>
                <p class="ml-5 mb-5 text-gray-500">Supporting the youth group with their leadership skills,
                            strengthening their civic engagement, and ensuring they have the proper skills to thrive in
                            their futures—not only will this aid young people in becoming leaders in their communities,
                            but also inspire their peers to be more active members of society.</p>
            </div>
            <div style="width: 164px; height: 1px;" class="bg-yellow-500 ml-8"></div>
        </div>

        <div class="col-12 md:col-6">

            <h1 class="text-2xl font-bold text-purple-700 lg:text-5xl">Our Impact</h1>
            <p class="my-6 font-normal">YEP has been active for four years, and during this time, more than 50
                        activists
                        have supported the mission and goals.
                        Currently, there are nine different projects our members participate in or lead. These projects
                        include the following: Say It, TechUp, Film It, YEP Talks, My Future, Techathon, Gostronic, and
                        My City, My Pride.
                        Through these projects, YEP has supported over 600 young people by assisting them with obtaining
                        various technical skills, providing mentorship, and fostering their activism.
                        In addition to the regularly scheduled projects, YEP holds informal activities — like movie
                        nights or group hikes — for the members. During the academic year 2018-2019, approximately 200
                        people from Gostivar have attended these events.
                        Not only are these events a way for members to develop their skills and knowledge, but they also
                        serve as a networking event.</p>
        </div>

    </div>
</div>



<div class="mt-20 mb-20" style="background: url('/assets/img/cover.jpg') no-repeat center center / cover;">

<div class="container">
    <div class="flex md:justify-end justify-center">

        <div class="col-12 md:col-6 lg:col-4 my-32">

            <div
                        class="flex flex-col max-w-xs mx-5 md:mr-20 items-center md:justify-end bg-purple-800 rounded-xl p-10">
                <h2 class="reveal font-bold text-3xl text-yellow-500 mb-5">
                            Our Members
                        </h2>

                <p class="font-medium text-sm text-white text-justify">
                            YEP’s active members consist of more than 30 youth, mainly between the ages of 14 and 19. There are
                            also some more experienced members, between the ages of 20 and 29.<br>
                            Our members are passionate about serving their communities, learning from each other, and building their experiences. While the president is available to guide and mentor YEP members, it’s the members who take the lead on projects.<br>
                            Members meet once a week to discuss the projects they’d like to design and implement, and
                            the president is there to facilitate the meetings and provide any support they may need. The
                            task of the president is to act as a moderator during the meeting, and never as a lawgiver. This ensures
                            that the members are actively involved during the discussions at the meetings.
                        </p>
            </div>
        </div>
    </div>
</div>

</div>

<div class="container">

    <div class="row justify-center">
        <div class="col-8 md:col-6 lg:col-4">
            <img src="/assets/img/komuna@2x.jpg" alt="">
        </div>

        <div class="col-8 md:col-6 lg:col-4">
            <img src="/assets/img/usembskopje@2x.jpg" alt="">
        </div>

        <div class="col-8 md:col-6 lg:col-4">
            <img src="/assets/img/peacecorps@2x.jpg" alt="">
        </div>

        <div class="col-8 md:col-6 lg:col-4">
            <img src="/assets/img/usaid@2x.jpg" alt="">
        </div>

        <div class="col-8 md:col-6 lg:col-4">
            <img src="/assets/img/undp@2x.jpg" alt="">
        </div>

    </div>

</div>