---
layout: default
---

<div class="container my-20">
  <div class="row md:justify-around items-center">

    <div class="md:col-6 lg:col-4">

      <h1 class="text-purple-900 text-2xl lg:text-5xl font-bold mb-2 md:mb-5 mt-10">Feel free to contact us</h1>

    </div>
    <div class="order-first mb-10 col-12 md:order-none md:col-6 lg:col-7">
      <img class="mt-10 w-screen " src="/assets/img/photo.jpg" alt="">
    </div>
  </div>
</div>




<div class="container my-20">
  <div class="row justify-between">
    <div class="md:col-4 lg:col-4 mb-16 md:mb-0">
      <h2 class=" text-2xl lg:text-5xl text-purple-900 font-bold">Our office</h2>

      <div class=" flex flex-row items-center">
        <svg class="w-10 h-auto text-yellow-400 bg-yellow-200 rounded-full p-2" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
            clip-rule="evenodd" />
        </svg>
        <p class="py-8 font-medium text-gray-500 text-sm ml-5">Borce Jovanoski 32, <br> Gostivar 1230, <br> North Macedonia</p>
      </div>

      <div class=" flex flex-row items-center">
        <svg class="w-10 h-auto text-yellow-400 bg-yellow-200 rounded-full p-2" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
            clip-rule="evenodd" />
        </svg>
        <p class="py-8 font-medium text-gray-500 text-sm ml-5">Monday - Saturday: <br> 10:00 - 18:00</p>
      </div>

      <div class="flex flex-row items-center">
        <svg class="w-10 h-auto text-yellow-400 bg-yellow-200 rounded-full p-2" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor">
          <path
            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
        </svg>
        <p class="py-8 font-medium text-gray-500 text-sm ml-5">+389 70 692 549</p>
      </div>

      <div class=" flex flex-row items-center">
        <svg class="w-10 h-auto text-yellow-400 bg-yellow-200 rounded-full p-2" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
        <p class="py-8 font-medium text-gray-500 text-sm ml-5">yepmk2015@gmail.com</p>
      </div>

    </div>


    <div class="mb-16 md:mb-0 md:col-8 lg:col-6">
      <div class="bg-purple-900 rounded-xl">
        <form action="POST">
          <div class="flex flex-col justify-center px-10 md:px-16">
            <h2 class="reveal mb-6 mt-16 font-bold text-xl md:text-2xl text-yellow-500">Send us a message</h2>

            <input
              class="reveal mb-6 bg-purple-500 placeholder-purple-700 text-purple-700 font-medium text-xs py-4 pl-4"
              type="text" placeholder="Name" name="name" required="">

            <input
              class="reveal mb-6 bg-purple-500 placeholder-purple-700 text-purple-700 font-medium text-xs py-4 pl-4"
              type="text" placeholder="Subject" name="subject" required="">

            <input
              class="reveal mb-6 bg-purple-500 placeholder-purple-700 text-purple-700 font-medium text-xs py-4 pl-4"
              type="text" placeholder="E-Mail" name="email" required="">

            <textarea
              class="reveal mb-6 bg-purple-500 text-purple-700 placeholder-purple-700 font-medium text-xs py-4 pl-4"
              name="message" placeholder="Message" required=""></textarea>

            <button type="submit" value="submit"
              class="mb-16 px-8 py-4 inline-block placeholder-purple-500 bg-yellow-500 text-base text-black">Send
              Message</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
