---
layout: default
---

<div class="container my-20">
  <div class="flex flex-col-reverse items-center mt-5 mb-20 lg:flex-row md:justify-around">

    <div class="max-w-md pt-20 md:pt-0">

      <h1 class="mx-5 mb-5 text-4xl font-bold text-center text-purple-900 md:text-left">Empowering <br>the youth</h1>
      <p class="mx-5 mb-10 text-sm font-medium">Learn more about our cause.</p>
      <a class="py-5 mx-5 text-white bg-purple-600 px-9 rounded-xl" href="#">Learn More</a>
    </div>
    <div class="order-first mb-10 col-12 md:order-none md:col-6 lg:col-7">
      <img class="mt-10 w-screen " src="/assets/img/photo.jpg" alt="">
    </div>
  </div>
</div>

{#
    <!-- second section -->
    <div class="container">
    <div class="my-10 text-4xl font-bold text-center text-purple-500">
        <h1 class="text-2xl font-bold text-center text-purple-500 lg:text-5xl">Empowering today's youth,
            <br>building tomorrow's leaders !</h1>
    </div>
</div>

<div class="container">


    <div class="flex justify-center mx-10 mb-20 md:mb-44">
        <div class="grid grid-cols-1 lg:grid-cols-3 md/:space-x-8">

            <div class="flex flex-col items-center py-10 text-center ">
                <img class="w-48" src="/assets/img/mission@2x.png" alt="">
                <h1 class="my-4 text-2xl font-bold text-purple-500">Mission</h1>

                <p class="max-w-sm text-xs">Encouraging youth empowerment and potential fulfillment through
                    different activities</p>

            </div>

            <div class="flex flex-col items-center py-10 text-center">
                <img class="w-48" src="/assets/img/vision@2x.png" alt="">
                <h1 class="my-4 text-2xl font-bold text-purple-500">Vision</h1>
                <p class="max-w-sm text-xs text-center">Intellectually Empowered Youth

                </p>
            </div>

            <div class="flex flex-col items-center py-10 text-center">
                <img class="w-48" src="/assets/img/goal@2x.png" alt="">
                <h1 class="my-4 text-2xl font-bold text-purple-500">Goals</h1>
                <p class="max-w-sm text-xs">Inspiring young people to take an active role in their futures, and teaching
                    them that their voices are strong and vital to the decision-making process;

                </p>
            </div>
        </div>
    </div>
    </div> #}





<div class="container">

  <div class="justify-center mb-10 row">

    <div class="py-20 col-12 lg:col-4">
      <div class="flex flex-col items-center">
        <img class="w-48" src="/assets/img/mission@2x.png" alt="">
        <h1 class="my-4 text-2xl font-bold text-purple-900">Mission</h1>
        <p class="text-xs text-center">Encouraging youth empowerment and potential fulfillment through different
          activities</p>
      </div>
    </div>

    <div class="py-20 col-12 lg:col-4">
      <div class="flex flex-col items-center">
        <img class="w-48" src="/assets/img/vision@2x.png" alt="">
        <h1 class="my-4 text-2xl font-bold text-purple-900">Vission</h1>
        <p class="text-xs text-center">Intellectually Empowered Youth</p>
      </div>
    </div>

    <div class="py-20 col-12 lg:col-4">
      <div class="flex flex-col items-center">
        <img class="w-48" src="/assets/img/goal@2x.png" alt="">
        <h1 class="my-4 text-2xl font-bold text-purple-900">Goals</h1>
        <p class="text-xs text-center">Inspiring young people to take an active role in their futures, and teaching them
          that their voices are strong and vital to the decision-making process;</p>
      </div>
    </div>


  </div>
</div>






<!-- sectrion 3 -->
<div class="container">
  <div class="mb-20">
    <div class="flex flex-col items-center mb-20">
      <h1 class="mb-5 text-5xl font-bold leading-none text-purple-500 ">Our Inpact</h1>
      <p class="max-w-md mx-2 text-xs text-center">The Youth Empowerment Platform has been active for four years,
        and
        during this time, more than 50 activists have supported the mission and goals.</p>
    </div>


    {# <div class="flex items-center justify-center">
      <div class="flex flex-col items-center px-4 py-10 m-5 bg-purple-700 lg:flex-row xl:mb-28 rounded-xl">

        <div class="flex flex-col mx-2 mb-8 text-center lg:mb-0">
          <h2 class="text-2xl font-bold leading-none text-center text-white md:text-6xl">50</h2>
          <p class="text-xs font-medium text-yellow-500">completed activities</p>
        </div>

        <div class="flex flex-col mx-2 mb-8 text-center lg:mb-0">
          <h2 class="text-2xl font-bold leading-none text-center text-white md:text-6xl">600+</h2>
          <p class="text-xs font-medium text-yellow-500">students impacted</p>
        </div>

        <div class="flex flex-col mx-2 mb-8 text-center lg:mb-0">
          <h2 class="text-2xl font-bold leading-none text-center text-white md:text-6xl">200</h2>
          <p class="text-xs font-medium text-yellow-500">youth engaged in 2018-19 alone</p>
        </div>

        <div class="flex flex-col mx-2 mb-8 text-center lg:mb-0">
          <h2 class="text-2xl font-bold leading-none text-center text-white md:text-6xl">1st</h2>
          <p class="text-xs font-medium text-yellow-500">youth NGO in the region</p>
        </div>


      </div>
    </div> #}
  </div>
</div>





<div class="container mb-28">
  <div class="items-center justify-center row ">
  <div class="col-7">
    <div class="flex flex-col items-center justify-between px-9 py-5 bg-purple-700 rounded-xl lg:flex-row">

      <div class="flex flex-col mx-2 my-2 text-center lg:my-0">
        <h1 class="text-2xl font-bold text-white md:text-6xl">50</h1>
        <p class="text-xs font-medium text-yellow-500">completed activities</p>
      </div>

      <div class="flex flex-col text-center mx-2 my-2 lg:my-0">
        <h1 class="text-2xl font-bold text-white md:text-6xl">600+</h1>
        <p class="text-xs font-medium text-yellow-500">students impacted</p>
      </div>

      <div class="flex flex-col text-center mx-2 my-2 lg:my-0">
        <h1 class="text-2xl font-bold text-white md:text-6xl">200</h1>
        <p class="text-xs font-medium text-yellow-500">youth engaged in 2018-19 alone</p>
      </div>

      <div class="flex flex-col text-center mx-2 my-2 lg:my-0">
        <h1 class="text-2xl font-bold text-white md:text-6xl">1st</h1>
        <p class="text-xs font-medium text-yellow-500">youth NGO in the region</p>
      </div>
    </div>
  </div>
  </div>
</div>
