---
layout: default
---

<div class="container my-20">
  <div class="row md:justify-around items-start">

    <div class="md:col-6 lg:col-4">

      <h1 class="text-purple-900 text-2xl lg:text-5xl font-bold mb-2 md:mb-5 mt-10">Our projects</h1>
      <p class="mt-4 text-sm text-medium">We want to nurture civic engagement via peaceful activism and volunteerism.
        The youth is the most important part of the community and as such it should be stimulated to become an active
        part of the society.
        <br><br>
        Our organization is the driving force that motivates youth on volunteering and improving their community. Our
        biggest force is the desire of the youth to actively volunteer and contribute.

        <br><br>
        Volunteering is one of the greatest acts that reflects the inspiration, goodwill and compassion of a person. We
        believe that the youth of this country has a tremendous intellectual capacity that needs to be used effectively.
        Rather than spending the time on the street and with empty discussions, the youth can truly make a change
        through volunteering.</p>
    </div>
    <div class="order-first mb-10 col-12 md:order-none md:col-6 lg:col-7">
      <img class="mt-10 w-screen " src="/assets/img/photo.jpg" alt="">
    </div>
  </div>
</div>



<div class="container my-20">
  <div class="row justify-center gap-y-10">

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-12 md:col-8 lg:col-4">
      <a href="#">
        <div style="border-radius: 25px; background-image: url('/assets/img/book-img2.jpg')"
          class=" bg-cover bg-center bg-no-repeat overflow-hidden flex items-end h-96 w-auto">
          <div class="bg-purple-900 opacity-90 w-full p-8">
            <h1 class="font-bold text-2xl text-yellow-500">Book Club</h1>
            <p class="font-medium text-white">
              Reading and recreation
            </p>
          </div>
        </div>
      </a>
    </div>



  </div>
</div>
