<div class="sticky top-0 bg-white z-10">
    <header class="container">
        <div class=" md:flex md:items-center md:justify-around ">
          <div class="flex justify-between items-center">
            <a href="/">
              <div class="">
                <img class="w-28 py-2" src="/assets/img/logo.png" alt="">
              </div>
            </a>
            <div class="px-4 cursor-pointer md:hidden" id="burger">

              <svg class="w-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd" />
              </svg>

            </div>
          </div>
          
          <div class="flex flex-col hidden md:block" id="menu">
            <a class="text-center py-4 border-transparent border-b md:border-b-2 md:hover:border-yellow-500 md:mr-8"
              href="/">Home</a>

            <a class="text-center py-4 border-transparent border-b md:border-b-2 md:hover:border-yellow-500 md:mr-8 {% if '/about' in page.url %}border-yellow-500 {% endif %}"
              href="/about">About Us</a>

            <a class="text-center py-4 border-transparent border-b md:border-b-2 md:hover:border-yellow-500 md:mr-8 {% if '/project' in page.url %}border-yellow-500 {% endif %}"
              href="/project">Projects</a>

            <a class="text-center py-4 border-transparent border-b md:border-b-2 md:hover:border-yellow-500 md:mr-8 {% if '/contact' in page.url %}border-yellow-500 {% endif %}"
              href="/contact">Contact</a>

          </div>
        </div>
    </header>
</div>
